body {
  margin: 0;
}

.kitchen-screen {
  background: #000;
  color: white;
  min-height: 100vh;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.kitchen-screen h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

/* GRID */
.orders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

/* CARD */
.order-card {
  border-radius: 16px;
  padding: 20px;
  font-size: 18px;
  transition: 0.3s;
}

/* COLORS */
.order-card.green {
  background: #065f46;
}

.order-card.orange {
  background: #92400e;
}

.order-card.red {
  background: #7f1d1d;
  animation: blink 1s infinite;
}

/* BLINK FOR URGENT */
@keyframes blink {
  50% {
    opacity: 0.7;
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 22px;
}

/* ITEMS */
.items {
  margin: 10px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

/* BUTTON */
.order-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}